# Dependencies
node_modules/

# Data
database.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env*.local
backend/.env
frontend/.env

# IDEs and editors
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db
